.DS_Store
SmartCardReaderARC.xcworkspace/xcuserdata/atrajkov.xcuserdatad/UserInterfaceState.xcuserstate
SmartCardReaderARC.xcodeproj/project.xcworkspace/xcuserdata/
Pods/Pods.xcodeproj/xcuserdata/andrejtrajkovski.xcuserdatad/
SmartCardReaderARC.xcodeproj/xcuserdata/andrejtrajkovski.xcuserdatad/xcdebugger/